header {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: Cambria;
}

.brand {
  background-color: white;
  color: red;
  font-family: arial;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

main {
  display: flex;
  min-height: 100vh;
  flex-grow: 1;
}

aside ul {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}

aside li {
  display: flex;
  background-color: rgb(167, 13, 13);
  color: white;
  padding: 8px;
  border-radius: 10px;
}

nav {
  background-color: white;
  color: black;
  display: flex;
  text-align: right;
  justify-content: space-between;
  gap: 1rem;
}

.menus {
  display: flex;
  padding-top: 8px;
  padding-right: 10px;
}

.menuitems {
  display: flex;
  margin: 10px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.testimonial {
  background-color: lightgray;
  padding-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

blockquote {
  margin-bottom: 0px;
  font-style: italic;
}

figcaption {
  padding-bottom: 10px;
  margin-left: 30px;
}

footer {
  background-color: black;
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 0px;
}

h1 {
  margin: 0px;
}
